## Types of functions

1.Positional Arguments
2.Keyword Arguments
3.Default Arguments
4.veriable lengths positional arguments
5.veriable length of keyword arguments

1.Positional Arguments

In [9]:
# Subtraction of two numbers using functions
def sub(n1, n2):
    res = n1 - n2
    return res
a = int(input())
b = int(input())
print(sub(a, b))

 10
 5

5

2.Keyword Arguments

In [12]:
# Subtraction of two numbers using functions
def sub(n1, n2):
    res = n1 - n2
    return res
a, b = 10, 5
print(sub(n1 = a,n2 = b))
print(sub(n2 = b,n1 = a))

5
5

In [24]:
# Sum of 2 numbers using functions
def sum(n1, n2):
    res = n1 + n2
    return res
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print(sum(a, b))

Enter the first number:  20
Enter the second number:  30

50

In [23]:
# Sum of 3 numbers using functions
def sum(n1, n2, n3):
    res = n1 + n2 + n3
    return res
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
print(sum(a, b, c))

Enter the first number:  10
Enter the second number:  30
Enter the third number:  40

80

In [27]:
# Sum of 4 numbers using functions
def sum(n1, n2, n3, n4):
    res = n1 + n2 + n3 + n4
    result = res
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))
d = int(input("Enter the forth number: "))
print(sum(a, b, c, d))

Enter the first number:  1
Enter the second number:  2
Enter the third number:  3
Enter the forth number:  4

None

## List Properties

In [1]:
#List elements access by using index position\
lst = [10,2,4,4.534, 'hi', 'hello']
print(lst[2])
print(lst[-3])
print(lst[2:])

4
4.534
[4, 4.534, 'hi', 'hello']

In [4]:
# nested list element access
lst = [1,2,3,4,[10,30,50,['a','b','c']],29,1,3]
print(lst[4])
print(lst[4][1])
print(lst[4][3][2])

[10, 30, 50, ['a', 'b', 'c']]
30
c

In [14]:
#List is mutable
lst = [1,2,3,40, 'hi', 'hello']
lst[0] =100
print(lst)

[100, 2, 3, 40, 'hi', 'hello']

## Map function

In [7]:
# Reading list of integer elements from user
l = list(map(int, input().split()))
print(type(l),l)

 1 2 3 4 5678

<class 'list'> [1, 2, 3, 4, 5678]

In [15]:
# read List of number and if number is even add 0.5 and if number is odd add 1
# Lst = [1,2,3,4,5]
# res = [2, 2.5, 4, 4.5, 6]
lst = list(map(int, input().split()))
for i in range(0, len(lst)):
    if lst[i] % 2:
        lst[i] = lst[i] + 1
    else:
        lst[i] += 0.5
print(lst)

 1 2 3 4 5

[2, 2.5, 4, 4.5, 6]