In [2]:
# nested Loops
for i in range(1, 3):
    for j in range(1, 11):
        print(f"{i} * {j} = {i*j}")
    print("____________________")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
____________________
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
____________________

In [3]:
# write 3 table program in functions
def print_table(n):
    for i in range(1, 11):
        print(f'{n} * {i} = {n*i}')

# 3 table
print_table(3)
# print_table(4)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [13]:
# write a table using functions
def print_table(n):
    for i in range(1, 11):
        print(f'{n} * {i} = {n*i}')

n = int(input("Enter any number: "))
print_table(n)

Enter any number:  11

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [9]:
# print n stars in horigentally
n = int(input())
for i in range(1, n+1):
    print("*", end= ' ')

 9

* * * * * * * * *

In [5]:
# rectangular pattern 
n = int(input())
for i in range(1, n+1):
    for j in range(1, n+1):
        print("*", end= ' ')
    print()

 8

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [9]:
n = int(input("Enter any number:"))
for i in range(1, n+1):
    for j in range(1, n+1):
        print("*", end=' ')
    print()

Enter any number: 7

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *